server:
  port: 8082

spring:
  application:
    name: user-service

  datasource:
    url: ${USER_DB_URL:jdbc:postgresql://localhost:5434/vidops_user}
    username: ${USER_DB_USER:vidops}
    password: ${USER_DB_PASSWORD:vidops}
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  flyway:
    enabled: true

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP:localhost:9092}
    consumer:
      group-id: user-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.value.default.type: com.vidops.user.events.UserRegisteredEvent

management:
  endpoints:
    web:
      exposure:
        include: health,info

vidops:
  security:
    jwt:
      issuer: ${JWT_ISSUER:vidops.local}
      secret-base64: ${JWT_SECRET_BASE64:}
