server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      default-filters:
        - PreserveHostHeader
      routes:
        - id: auth
          uri: ${AUTH_SERVICE_URL:http://localhost:8081}
          predicates:
            - Path=/api/auth/**
        - id: users
          uri: ${USER_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=/api/users/**
        # UI (Thymeleaf webapp) - keep this LAST so /api/... routes win
        - id: webapp
          uri: ${WEBAPP_URL:http://localhost:8090}
          predicates:
            - Path=/**
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:8080"
              - "http://localhost:8090"
              - "http://localhost"
            allowedMethods:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
